.placeholder-custom::placeholder {
  color: #8c8278;
  font-weight: 500;
}

.mt-2 {
  margin-top: 0.5rem;
}

.collapsed {
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded {
  max-height: 300px;
  overflow: auto;
  transition: max-height 0.3s ease;
}

.suggestions {
  transition: max-height 0.3s ease;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0;
}

button:focus {
  outline: none;
}

.markdown-content * {
  color: #433e39 !important;
}

.markdown-content {
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .markdown-content {
    font-size: 1rem;
  }
}

.markdown-content ul,
.markdown-content ol {
  color: #433e39;
  margin-left: 1em;
  padding-right: 1em;
}

@media (min-width: 640px) {
  .markdown-content ul,
  .markdown-content ol {
    margin-left: 1.5em;
  }
}

.markdown-content ul li::marker,
.markdown-content ol li::marker {
  color: #433e39;
}

.markdown-content li {
  color: #433e39;
  margin: 0.25em 0;
}

.markdown-content li > p {
  margin: 0;
  display: inline;
}

.scroll-smooth {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll-smooth::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.fade-edges {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 5%,
    black 95%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 5%,
    black 95%,
    transparent 100%
  );
}
