.svgHover {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.svgHover path {
    fill: #433e39;
    transition: all 0.5s ease;
}

.container:hover .svgHover path {
    fill: #978e85;
}

.svg {
    width: 120px;
    height: 120px;
    position: fixed;
    top: 40px;
    left: -480px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 1000;
}

.svg:hover {
    z-index: 1000;
    color: inherit;
    transition: all 0.5s ease;
}